/*color pallette
hot pink #E455F1
black #272727

*/

body {
    font-family: 'Red Hat Mono', monospace;
    color: #272727;
}

/* Header/Nav styling */

.active {
    max-height: 100vh;
}

.footer-container a svg,
.main-menu li a,
nav,
.header-container h1 a,
.menu-icon {
    transition: 0.3s ease-in-out;
}

.footer-container a svg:hover,
.menu-icon:hover {
    fill: #E455F1;
}

footer,
header {
    background-image: url("../assests/images/header-footer-small.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 1rem;
    z-index: 1;
}

header {
    position: sticky;
    top: 0;
}

.header-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    max-width: 75rem;
    margin: 0 auto;
}

.header-container h1 a {
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: white;
}


nav {
    width: 100%;
    text-align: right;
    line-height: 2.5;
    max-height: 0;
    overflow: hidden;
}

.main-menu li {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.main-menu li a {
    color: white;
    text-decoration: none;
}

.main-menu li a:hover,
.header-container h1 a:hover,
.menu-icon:hover {
    color: #E455F1;
}

.main-menu li:first-child {
    margin-top: 2rem;
}

/* Home Page Content*/

.main-page-content {
    background-image: url("../assests/images/main-page-background-small.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 40%;
    background-position-y: 40%;
    height: 93vh;
    padding: 1rem;
}

.title-container {
    max-width: 75rem;
    margin: 0 auto;
}

.title-container h2 {
    font-size: 3.5rem;
    max-font-size: 3.5rem;
    width: 70%;
    padding: 1rem;
    border-radius: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.25;
}

.title-container span {
    display: block;
}

.title-container span:last-of-type {
    color: #E455F1;
    margin-top: 2rem;
    letter-spacing: 0.7rem;
}

/* About Me Page */

.about-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assests/images/about-me-background-small.webp");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 1.5rem;
}

.about-content {
    display: flex;
    flex-flow: column;
    width: 80%;
    text-align: left;
    background-color: rgba(0,0,0,0.7);
    color: white;
    border-radius: 1rem;
    backdrop-filter: blur(6px);
    padding: 1.5rem;
    max-width: 63rem;
}

.about-content h2 {
    margin: 2.5rem 0;
    font-size: 2rem;
}

.about-content ul {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    font-size: 1.5rem;
}

.about-content ul li {
    display: flex;
    flex-flow: column;
}

.about-content span {
    margin: 0.5rem 0;
    color: #E455F1;
}

.about-content p {
    margin-bottom: 0.8rem;
}

.about-content a {
    max-width: 15rem;
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    border: none;
    box-shadow:  inset 0 0 3px rgba(0,0,0, 0.9);
    transition: 0.3s ease-in-out;
    outline: none;
    margin: 3rem auto;
}

.about-content a:hover,
.about-content a:active {
    background-color: #E455F1;
    box-shadow:  inset 0 0 10px rgba(356,356,356,0.9);
    color: white;
    padding: 0.5rem 4rem;
}

/* Skills Page */

.skills-background {
    background-image: url("../assests/images/skills-page-background-small.webp");
    background-size: cover;
    background-position-x: 50%;
    background-repeat: no-repeat;
    padding: 1.5rem;
    min-height: 100vh;
}

.skill-flex-container {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    max-width: 83rem;
    margin: 0 auto;
}

.skill {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: rgba(0,0,0,0.65);
    padding: 1.5rem;
    color: white;
    line-height: 2.5;
    border-radius: 1rem;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.65);
    text-align: center;
    backdrop-filter: blur(5px);
}

.skill img {
    width: 15%;
}

.progress-container {
    display: block;
    height: 1rem;
    width: 80%;
    background-color: grey;
    border-radius: 1rem;
}

.progress-bar {
    background-color: #E455F1;
    height: 1rem;
    width: 80%;
    border-radius: 1rem;
}

/* Contact Page */

.contact-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assests/images/contact-page-small.webp");
    background-size: cover;
    background-position-x: 28%;
    min-height: 100vh;
    padding: 1rem;
}

.email-me {
    text-align: center;
    border-radius: 1rem;
    color: white;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(5px);
    max-width: 70rem;
    margin: 0 auto;
}

.email-me h2 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    margin: 3rem;
}

.email-me h2 span {
    font-size: 3rem;
    color: #E455F1;
    text-transform: uppercase;
}

.email-me p {
    font-size: 2rem;
    text-decoration: underline;
}

.email-me form {
    display: flex;
    flex-flow: column;
    height: 50rem;
    padding: 1rem;
    max-width: 50rem;
    margin: 0 auto;
}

.email-me textarea,
.email-me input {
    margin: 0.7rem;
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 1rem;
    font-size: 1rem;
    outline: none;
}

.email-me textarea {
    height: 70%;
    font-size: 1rem;
}

.email-me textarea:focus,
.email-me input:focus {
    border: 1px solid #E455F1;
}

.email-me button {
    width: 50%;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    border: none;
    box-shadow:  inset 0 0 3px rgba(0,0,0, 0.9);
    transition: 0.3s ease-in-out;
    outline: none;
}

.email-me button:hover,
.email-me button:active {
    background-color: #E455F1;
    box-shadow:  inset 0 0 10px rgba(356,356,356,0.9);
    color: white;
    width: 55%;
}

.email-me button:focus {
    border: 1px solid #E455F1;
}


/* Footer Styles */

footer {
    position: sticky;
    bottom: 0;
}

.footer-container {
    max-width: 75rem;
    margin: 0 auto;
}

.footer-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.footer-container svg {
    fill: white;
    width: 2rem;
}

@media screen and (min-width: 550px) {
    /* MEDIUM Nav Bar*/
    
    header,
    footer {
        background-image: url("../assests/images/header-footer-medium.webp");
    }
    
    .menu-icon {
        display: none;
    }
    
    header h1 {
        font-size: 2rem;
    }
    
    .header-container {
        align-items: center;
        justify-content: center;
    }
    
    header {
        padding-bottom: 0;
    }
    
    nav {
        width: 100%;
        max-height: initial;
        margin-top: 2rem;
    }
    
    .main-menu {
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
    }
    
    .main-menu li {
        font-size: 1.3rem;
    }
    
    .main-menu li:first-child {
        margin: 0;
    }
    
    /* MEDIUM Main Page Content */
    .main-page-content {
        background-image: url("../assests/images/main-page-background-medium.webp");
    }
    
    .main-page-content h2 {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        position: relative;
        top: 8rem;
        font-size: 7vw;
    }
    
    .main-page-content span {
        display: inline;
    }
    
    .main-page-content span:last-of-type {
        display: block;
        letter-spacing: 2.5rem;
        margin: 2rem;
        font-weight: 700;
    }

    .footer-container svg {
        width: 3rem;
    }
    
    /*MEDIUM Skills Page */
    
    .skills-background {
        background-image: url("../assests/images/skills-page-medium.webp");
    }
    
    .skill {
        width: 39%;
    }
    
    .skill h2 {
        font-size: 1.5rem;
    }
    
    .skill p:last-of-type {
        font-size: 1.3rem;
        font-weight: bold;
    }
    
    .skill-flex-container {
        flex-flow: row wrap;
        justify-content: center;
    }
    
    /* MEDIUM Contact Page */
    
    .contact-background {
        background-image: url("../assests/images/contact-page-medium.webp");
    }
}

@media screen and (min-width: 770px) {
    
    header,
    footer {
        background-image: url("../assests/images/header-footer-large.webp");
    }
    
    .main-page-content {
        background-image: url("../assests/images/main-page-background-large.webp");
        background-position-y: 40%;
    }
    
    .skills-background {
        background-image: url("../assests/images/skills-page-background-large.webp");
    }
    
    .contact-background {
        background-image: url("../assests/images/contact-page-large.webp");
    }
    
    .title-container h2 {
        font-size: 4rem;
        text-align: left;
    }
    
    .title-container h2 span:last-of-type {
        font-size: 6rem;
        text-transform: uppercase;
    }
    
    .main-menu li {
        font-size: 1.8rem;
    }
    
    .skill {
        width: 25%;
    }
}

